html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI";
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  overflow-x: hidden;
}

.card-container {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-outer {
  position: relative;
  background-color: transparent;
  /* width: 21vw;
  height: 14vw; */
  width: 15vw;
  height: 10vw;
  margin: 10px;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .flipped {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
} */

.flipped .card-inner {
  transform: rotateY(180deg);
}

/* .focused {
  z-index: 5;
} */

/* .focused .card-inner {
  transform: rotateY(180deg) scale(2) translate(100px,100px);
} */

#focused1, #focused2 {
  z-index: 5;
  cursor: grab;
}

/* Position the front and back side */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1vw;
}

.card-front {
  color: black;
  background-image: url("../images/cardback.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* Style the back side */
.card-back {
  position: relative;
  color: white;
  transform: rotateY(180deg);
  background-image: url("../images/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-front-content {
  display: none;
}

.card-back-content {
  position: absolute;
  width: 50%;
  height: 60px;
  font-size: 4vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 60px
}

.complete {
  transition: 1s all;
  opacity: 0.5;
}

.complete .card-inner {
  transform: none;
}

.checkmark, .cross {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
  width: 50%;
  height: 50%;
  z-index: 10;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.checkmark {
  background-image: url("../images/checkmark.png");
}

.cross {
  background-image: url("../images/cross.png");
}

.modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 120px 10px;
  width: 80%;
  /* height: 50%; */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#gameWonModal {
  display: none;
}

#gameWonModal-header {
  font-size: 8vw;
  font-weight: bold;
  text-align: center;
}

#gameWonModal-description {
  font-size: 4vw;
  text-align: center;
}

#gameWonModal-button {
  cursor: pointer;
  font-size: 4vw;
  text-align: center;
  border: 2px solid black;
  height: 6vw;
  line-height: 6vw;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

#gameStartModal-header {
  font-size: 7vw;
  font-weight: bold;
  text-align: center;
}

#gameStartModal-description {
  font-size: 3.5vw;
  text-align: center;
}

#gameStartModal-button {
  cursor: pointer;
  font-size: 4vw;
  text-align: center;
  border: 2px solid black;
  height: 6vw;
  line-height: 6vw;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

#readingTimerMeterContainer {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 4vw;
  background-color: pink;
  border-radius: 1vw;
  overflow: hidden;
}

#readingTimerMeterText {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 2.5vw;
  line-height: 4vw;
}

#readingTimerMeterBackground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
}

#readingTimerMeterForeground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background-color: #46ad51;
}
